@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');


body{
  background-image: url("background.jpg");
}

.writing{
  color: white;
  font-size:xx-large;
  font-weight: 600;
  font-family: 'Courier Prime';
  margin-left: 430px;
  margin-top: 20px;
}

.box{
  background-color: #8d8d8d;
  width: 600px;
  height: 650px;
  margin-left: 425px;
  margin-top: 50px;
  position: relative;
  text-align: center;
}
.text{
  position: absolute;
  background: #8d8d8d;
  height: 50px; 
  width: 100%;
  top: 570px;
  text-align: center;
  font-size: 40px;
  font-family: 'Covered By Your Grace';
}


.row {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-top: 30px;
  margin-left: 50px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

