@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Special+Elite&display=swap');



*{
  background-color: rgb(0, 0, 0);
}

.heading{
  color: white;
  color: white;
  font-size:xx-large;
  font-weight: 600;
  font-family: 'Courier Prime';
  margin-left: 430px;
  margin-top: 20px;
}


.box{
  background-color: rgb(173, 173, 173);
  width: 800px;
  height: 700px;
  margin-left: 300px;
  margin-top: 50px;
  position: relative;
  border-radius: 15px;

}
.row {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin-top: 50px;
  margin-left: 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

