<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patchify</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="box">
    <div class="row">
      {% for song in top_tracks_images %} 
      <div class="column"><img src="{{ song }}"></div> 
      {% endfor %} 
    </div>
    <div class="text"><span class="typing">Here Are Your Top 9 Patches</span></div>
  </div>
</body>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
  const track_names = {{ top_tracks_names|tojson }};
  var typed = new Typed(".typing", {
    strings: track_names,
    typeSpeed: 120,
    backSpeed: 100,
    loop: false,
  })
</script>
</html>
